{% extends 'portfolio/layout.html' %}

{% block title %}
    Portfolio - Home
{% endblock %}

{% block content %}

    <section class="section-project">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="section-title">Proyectos</h1>
                </div>
                <div class="col-md-12">
                    <div class="box-width">
                        {% for project in projects %}
                            <div class="row box-1 m-0">
                                <div class="col-6">
                                    <div class="box-content">
                                        <h1 class="title-1">{{ project.title }}</h1>
                                        <div class="description-1">
                                            <p>{{ project.description }}</p>
                                        </div>
                                        {% if project.links.all %}
                                            {% for link in project.links.all %}
                                                <div class="links">
                                                    <a href="{{ link.url }}" class="button-1" target="{{ link.url }}">{{ link.name }}</a>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        {% if project.technologies.all %}
                                            <p class="technologies">Technologies:
                                                {% for technology in project.technologies.all %}
                                                    {{ technology.name }}
                                                    {% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="box-img">
                                        {% if project.image %}
                                            <img src="{{ project.image.url }}" alt="{{ project.image.name|cut:'portfolio/' }}">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}