{% load static %}

<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">

        <title>{% block title %}{% endblock title %}</title>
    </head>

    <body>
        <nav class="nav-header" id="main-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="menu-content">
                            <ul>
                                <li><a href="#home">Inicio</a></li>
                                <li><a href="#about">Sobre mi</a></li>
                                <li><a href="#projects">Proyectos</a></li>
                                <li><a href="#experience">Experiencia</a></li>
                                <li><a href="#skills">Habilidades</a></li>
                            </ul>
                        </div>
                        <a href="#" id="menu-click" class="d-none">
                            <img src="{% static 'img/hamburguesa-green.svg' %}" class="ico ico-black" alt="hamburguesa-green icon">
                            <img src="{% static 'img/hamburguesa-white.svg' %}" class="ico ico-white" alt="hamburguesa-white icon">
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="overlay-menu"></div>
        <div class="overlay-search"></div>
        <div class="sidebar-wrapper" id="sidebar-wrapper">
            <img src="{% static 'img/close-hamburger.svg' %}" class="close-menu" alt="close-hamburger icon">
            <div class="bloque-1">
                <ul class="p-0">
                    <li><a href="#home">Inicio</a></li>
                    <li><a href="#about">Sobre mi</a></li>
                    <li><a href="#projects">Proyectos</a></li>
                    <li><a href="#experience">Experiencia</a></li>
                    <li><a href="#skills">Habilidades</a></li>
                </ul>
            </div>
        </div>

        {% block content %}{% endblock content %}

        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
    </body>

</html>